/* You need daisyUI for this preset. Make sure its colors are accessible. */

@import '../clampography.css';

@layer base {
  a {
    @apply text-primary font-bold tracking-wider underline decoration-2 underline-offset-4 transition-colors duration-150;

    text-decoration-color: color-mix(
      in srgb,
      var(--color-primary) 30%,
      transparent
    );
  }

  a:hover {
    text-decoration-color: var(--color-primary);
  }
}
